---
import '@fontsource/outfit/700'
import '@fontsource/outfit/500'
import '@fontsource/outfit/300'
import Header from '@components/Header.astro'
import '@styles/global.css'
---

<html>
    <head>
        <meta http-equiv='Content-Type' content='text/html;charset=UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>BasicShoot</title>
    </head>
    <body class="w-[100dvw] h-[calc(100dvh_-_100px)] px-8 font-outfit">
        <Header />
        <slot />
    </body>
</html>
